*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}
.main{
    background-color: black;
}
.container{
max-width: 1241px;
width: 100%;
margin: 0 auto;
}
.header1{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 30px;
margin-bottom: 80px;
}
.header1 h2{
color: #D0CAD0;
width: 68px;
height: 24px;

}
.header1 img{
height: 24px;
width: 24px;
}
.section2{
display: flex;
justify-content:space-between;

}
.section2 button{
width: 218px;
height: 66px;
background-color: yellow;
border-radius: 50px;
font-family:sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 24px;
text-align: center;
}
.section2 h1{
margin-bottom: 24px;
color:white;
font-family: sans-serif;
font-size: 52px;
font-weight: 200;
line-height: 65px;
text-align: left;

}
.section1 p{
    color:rgb(243, 241, 241);
    font-family:sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}
